body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  font-size: 562.5%;
  margin-top: 30px;
  font-family: "Sacramento", cursive;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

h3 {
  font-family: "Merriweather Sans", sans-serif;
}

hr {
  border-color: grey;
  border-style: double none none;
  border-width: 5px;
  width: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.topcloud {
  position: relative;
  left: 195px;
}

.bottomcloud {
  position: relative;
  bottom: 307px;
  left: 120px;
}

.mountain {
  position: relative;
  right: 62px;
}

.diva {
  background-color: #cdfcf6;
  /* border: 10px solid; */
  padding-top: 20px;
  /* padding: 20px; */
  /* width: 200px;
    height: 200px; */
}

.Dp {
  padding-top: 15px;
}

.skill-row {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.computer {
  width: 20%;
  float: left;
  margin-right: 50px;
  margin-bottom: 60px;
}

.computer-description {
  margin-bottom: 10%;
}

.chillies {
  width: 20%;
  float: right;
  margin-left: 20px;
}

.chillies-description {
  margin-bottom: 20%;
}

.contact-me {
  margin-bottom: 5%;
  /* margin-top: 45%; */
}

.contact-me-desc {
  margin-bottom: 50px;
}

.btn {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #2980b9);
  background-image: -moz-linear-gradient(top, #66bfbf, #2980b9);
  background-image: -ms-linear-gradient(top, #66bfbf, #2980b9);
  background-image: -o-linear-gradient(top, #66bfbf, #2980b9);
  background-image: linear-gradient(to bottom, #66bfbf, #2980b9);
  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #3498db);
  background-image: -moz-linear-gradient(top, #66bfbf, #3498db);
  background-image: -ms-linear-gradient(top, #66bfbf, #3498db);
  background-image: -o-linear-gradient(top, #66bfbf, #3498db);
  background-image: linear-gradient(to bottom, #66bfbf, #3498db);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-link {
  color: #11999e;
  margin-right: 50px;
  margin-left: 50px;
}

.bottom-name {
  color: white;
  font-size: 63%;
  margin-top: 2%;
  font-family: "Montserrat", sans-serif;
}

/* .divb { */
/* background-color: #ABD9FF;
    border: solid 20px;
    margin-left: 260px;
    width: 200px;
    height: 200px;    */
/* }

.divc {
    /* background-color: #FFF6BF;
    border: solid 10px;
    margin-left: 500px;
    width: 200px;
    height: 200px; */
/* } */

/* #pro {
    text-decoration: underline;
} */

/* .containera {
    background-color: #A555EC;
    width: 100px;
    height: 100px;
    margin: 0;
}

.B1B2FF {
    background-color: #B1B2FF;
    width: 40px;
    height: 30px;
    margin: 0;
}

.AAC4FF {
    background-color: #AAC4FF;
    width: 40px;
    height: 50px;
    position: absolute;
    /* top: 40px; */
/* left: 5px;
    margin: 0;
}

.D2DAFF {
    background-color: #D2DAFF;
    width: 30px;
    height: 40px;
    position: absolute;
    left: 4px;
    margin: 0;

} */
